.content-container {
  width: 100%;
  max-width: 75rem; /* 1152px */
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem; /* 32px */
  padding-bottom: 2rem; /* 32px */
  padding-left: 1rem; /* 16px */
  padding-right: 1rem; /* 16px */
}